<div id="supprimerContratSante" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="supprimerContrat" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supprimerContratSante">Suppresion Du Contrat Sante </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>voulez vous supprimer ce Contrat Sante  de façon permanente ?</p>
            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="supprimerContrat()" >Supprimer</button>
            </div>
        </div>
    </div>
</div>