<div class="content-wrapper">
    <div class="content">

        <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-6">

            <div class="row no-gutters align-items-center">

                <a href="#" class="btn btn-icon mr-4">
                    <i class="icon icon-arrow-left"></i>
                </a>

                <div class="product-image mr-4">
                    <img src="../assets/images/ecommerce/product-image-placeholder.png">
                </div>

                <div>Détails du dossier </div>
            </div>

        </div>


        <div class="page-content col-12 mt-2">

            <div class="card-deck mt-2">
                <div class="card">

                    <div class="card-header  ">
                            <div class="row">
                                    <div class="h3 col-md-4">Liste des contrats Auto

                                            
                                    </div>
        
                                    <button type="button" class="btn btn-primary btn-fab btn-sm text-center mx-auto "  >
                                            <i class="icon-plus" data-toggle="modal" data-target="#ajouterContratAuto"></i>
                                        </button>
    
                                    <div class="input-group   col-md-4 ml-md-auto mt-2" >
                                        <i class="icon-magnify"></i>    
                                        <input type="text" (keyup)="search($event.target.value)" placeholder="rechercher" class="form-control" >
                                    </div>
                                    
                
                            </div>
                        
                        
                    </div>
                    <div *ngIf="(autoConstante|json)=='[]'">
                        <div class="alert alert-danger text-center col-md-6 mx-auto mt-3">
                            Pas de contrat Auto dans le dossier !
                        </div>
                    </div>
                    <div *ngIf="this.rechercheTest==1">
                        <div class="alert alert-danger text-center col-md-6 mx-auto mt-3">
                            Resultat Introuvable !
                        </div>
                    </div>
                    <div class="card-body" *ngIf="(autoConstante|json)!='[]' && this.rechercheTest!=1 ">
                        <div class="row flex-row flex-nowrap">
                            <div class="col-12 col-sm-6 col-xl-3 p-3" *ngFor='let au of auto'>

                                <div class="widget widget2 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

                                        <div class="col">
                                            <span class="text-center">Contrat Auto N° {{au.idAuto}}</span>
                                        </div>
                                        <button type="button" class="btn btn-icon" id="btnGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon icon-dots-vertical"></i>
                                        </button>


                                        <div class="dropdown-menu" aria-labelledby="btnGroup">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#modifierContrat" (click)="affectationAuto(au)">Modifier</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#supprimerContrat" (click)="affectationAuto(au)">Supprimer</a>
                                        </div>
                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-secondary mt-1">Date début : {{au.dateEffetPolice}}</span>
                                        </div>
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-danger mt-1">Date fin : {{au.dateEchange}}</span>
                                        </div>
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-success mt-1">Montant : {{au.montant}} DH</span>
                                        </div>
                                        <div class="row mt-1">
                                            <span class="badge badge-success m-1 " *ngFor='let ty of au.typeContrats'>{{ty.type}}</span>
                                        </div>
                                        <div>
                                            <span class="badge badge-info mt-3">Véhicule</span>
                                        </div>
                                        <div id="clickVehicule">
                                            <a data-toggle="modal" data-target="#vehicule" (click)="affectationVehicule(au.vehicules)">
                                                <span class="badge badge-secondary mt-1">
                                                    <span class="icon-car"></span>
                                                </span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <app-vehicule [vehicule]="vehi" *ngIf="vehi"></app-vehicule>
                    <app-modifier-contrat [auto]="autoModifier" *ngIf="autoModifier" (refrech)='this.ngOnInit()'></app-modifier-contrat>
                    <app-supprimercontrat [ContratAuto]="autoModifier" (refrech)='this.ngOnInit()'></app-supprimercontrat>
                    <app-ajouter-contrat-auto [idDossier]="dossierId" (refrech)='this.ngOnInit()'></app-ajouter-contrat-auto>
                </div>
            </div>
            <div class="card-deck mt-2">
                <div class="card">

                    <div class="card-header">
                        <div class="row">
                                <div class="h3 col-md-4">Liste des contrats Santé
                                        
                                </div>
    
                                <button type="button" class="btn btn-primary btn-fab btn-sm text-center mx-auto "  >
                                        <i class="icon-plus" data-toggle="modal" data-target="#ajouterContratSante"></i>
                                </button>

                                <div class="input-group   col-md-4 ml-md-auto mt-2" >
                                    <i class="icon-magnify"></i>    
                                    <input type="text" (keyup)="search2($event.target.value)" placeholder="rechercher" class="form-control" >
                                </div>
                                
            
                        </div>
                    </div>
                    <div *ngIf="(santeConstante|json)=='[]'">
                            <div class="alert alert-danger text-center col-md-6 mx-auto mt-3">
                                Pas de contrat Santé dans le dossier !
                            </div>
                        </div>
                        <div *ngIf="this.rechercheTest2==1">
                            <div class="alert alert-danger text-center col-md-6 mx-auto mt-3">
                                Resultat Introuvable !
                            </div>
                        </div>
                    
                    <div class="card-body" *ngIf="(santeConstante|json)!='[]' && this.rechercheTest2!=1">

                        <div class="row flex-row flex-nowrap">
                            <div class="col-12 col-sm-6 col-xl-3 p-3" *ngFor='let s of sante'>

                                <div class="widget widget2 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

                                        <div class="col">
                                            <span class="text-center">Contrat Santé N° {{s.numContratSante}} </span>
                                        </div>
                                        <button type="button" class="btn btn-icon" id="btnGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon icon-dots-vertical"></i>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="btnGroup">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#modifierContratSante" (click)="affectationSante(s)">Modifier</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#supprimerContratSante" (click)="affectationSante(s)">Supprimer</a>
                                        </div>
                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-secondary mt-1">Date début : {{s.dateContrat}} </span>
                                        </div>
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-danger mt-1">Date fin :  {{s.dateFinContrat }}</span>
                                        </div>
                                        <span class="badge badge-success m-1 " *ngFor='let ty of s.typeContrats'>{{ty.type}}</span>
                                        <div>
                                            <span class="badge badge-info mt-3">Montant {{ s.montant}} DH</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <app-modifier-contrat-sante [sante]="santeModifier" *ngIf="santeModifier" (refrech)='this.ngOnInit()'></app-modifier-contrat-sante>
                    <app-supprimer-contrat-sante [sante]="santeModifier" *ngIf="santeModifier" (refrech)='this.ngOnInit()'></app-supprimer-contrat-sante>
                    <app-ajouter-contrat-sante [idDossier]="dossierId" (refrech)='this.ngOnInit()'></app-ajouter-contrat-sante>
                </div>
            </div>


            <div class="card-deck mt-2">
                <div class="card">

                    <div class="card-header"> 
                        <div class="row">
                                <div class="h4 col-md-4">Liste des contrats Habitation

                                        
                                </div>
    
                                <button type="button" class="btn btn-primary btn-fab btn-sm text-center mx-auto "  >
                                        <i class="icon-plus" data-toggle="modal" data-target="#ajouterContratHabitation"></i>
                                    </button>

                                <div class="input-group   col-md-4 ml-md-auto mt-2" >
                                    <i class="icon-magnify"></i>    
                                    <input type="text" (keyup)="search3($event.target.value)" placeholder="rechercher" class="form-control" >
                                </div>
                                
            
                        </div>

                    </div>
                    <div *ngIf="(habitationContante|json)=='[]'">
                            <div class="alert alert-danger text-center col-md-6 mx-auto mt-3">
                        Pas de contrat Habitation dans le dossier
                           </div>
                        </div>
                        <div *ngIf="this.rechercheTest3==1">
                            <div class="alert alert-danger text-center col-md-6 mx-auto mt-3">
                                Resultat Introuvable !
                            </div>
                        </div>
                    <div class="card-body" *ngIf="(habitationContante|json)!='[]' && this.rechercheTest3!=1">

                        <div class="row flex-row flex-nowrap">
                            <div class="col-12 col-sm-6 col-xl-3 p-3" *ngFor='let h of habitation'>

                                <div class="widget widget2 card">

                                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

                                        <div class="col">
                                            <span class="text-center">Contrat Habitation N° {{h.idContratHabitation}} </span>
                                        </div>
                                        <button type="button" class="btn btn-icon" id="btnGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon icon-dots-vertical"></i>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="btnGroup">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#modificationContratHabitation" (click)='affectationHabitation(h)'>Modifier</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#supprimerContratHabitation" (click)='affectationHabitation(h)'>Supprimer</a>
                                        </div>
                                    </div>

                                    <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-secondary mt-1">Date début : {{h.dateDebut}} </span>
                                        </div>
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-danger mt-1">Date fin : {{h.dateFin}} </span>
                                        </div>
                                        <div>
                                            <span style="display:inline-block;width: 170px" class="badge badge-success mt-1"> {{h.typeLogement }} ( {{h.nbrPiece}} Piece)</span>
                                        </div>
                                        <div>
                                            <span class="badge badge-info mt-3">Montant {{ h.montant}} DH</span>
                                        </div>

                                        <span class="badge badge-success m-1 " *ngFor='let ty of h.typeContrats'>{{ty.type}}</span>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <app-supprimer-contrat-habitation [contratHabitation]="habitationModifier" *ngIf='habitationModifier' (refrech)='ngOnInit()'></app-supprimer-contrat-habitation>
                    <app-ajouter-contrat-habitation [idDossier]="dossierId" *ngIf='dossierId' (refrech)='this.ngOnInit()'></app-ajouter-contrat-habitation>
                    <app-modifier-contrat-habitation [habitation]="habitationModifier" *ngIf='habitationModifier' (refrech)='ngOnInit()'></app-modifier-contrat-habitation>
                </div>
            </div>



        </div>


    </div>
</div>