#clickVehicule:hover{
    opacity: 0.7;
    cursor: pointer;
}
.card-body {
        overflow-x: scroll;
  }

  #rechercher{
    float:right;
  }
  input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}