
        <div class="container"> 
        
          <div class="text-center mt-5">
              <img src="../../assets/images/insurance.png" class="rounded" alt="logo" width="150px" height="150px">
          </div>    
      
          <h3  class="text-center m-3">Accédez à votre Espace client : </h3>

            <div class="col-md-4 mx-auto border rounded" style="background-color: white;"> 
                  <form style="padding: 10px;">

                      <div class="form-group">
                          <label class="font-weight-bold">Username : </label>
                          <input type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                          <label class="font-weight-bold">Mot de Pass :</label>
                          <input type="text" class="form-control" />
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Login</button>
                      </div>
                       <a class="d-flex font-weight-bold" href="#">Mot de pass oublier ?</a> 

                  </form>    
          </div>
          <div class="col-md-4 mx-auto border rounded mt-3 text-center" style="background-color: white;padding: 5px;">
               Vous n'avez pas de compte? <a class="badge badge-success" href="#">Creér votre compte</a>
          </div>
  </div>