<aside class="page-sidebar p-6" data-fuse-bar="contacts-sidebar" data-fuse-bar-media-step="md">
  <div class="page-sidebar-card">
    <!-- SIDENAV CONTENT -->
    <div class="content">

      <ul class="nav flex-column">

        <!-- Start -->
          <li class="nav-item" role="tab" id="heading-dashboards">

              <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-settings-1" href="#" aria-expanded="false"
                aria-controls="collapse-settings-1">
                <i class="icon s-4 icon-tile-four"></i>
                <span>Collaborateur</span>
              </a>
      
              <ul id="collapse-settings-1" class="collapse" role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                <li class="nav-item">
                    <a class="nav-link ripple "  [routerLink]="['pahse']" data-page-url="/apps-contacts.html">
                      <i class="icon s-4 icon-calendar-today"></i>
                      <span>phase</span>
                    </a>
                  </li>
      
              </ul>
            </li>
           <!-- End -->

        <!-- Start -->
          <li class="nav-item" role="tab" id="heading-dashboards">

              <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-settings-2" href="#" aria-expanded="false"
                aria-controls="collapse-settings-2">
                <i class="icon s-4 icon-tile-four"></i>
                <span>Dashboards</span>
              </a>
      
              <ul id="collapse-settings-2" class="collapse" role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">
               
                <li class="nav-item">
                  <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
      
                    <span>Project Dashboard</span>
                  </a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
                    <span>Server</span>
                  </a>
                </li>
      
              </ul>
            </li>
           <!-- End -->


        <!-- Start -->
          <li class="nav-item" role="tab" id="heading-dashboards">

              <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-settings-3" href="#" aria-expanded="false"
                aria-controls="collapse-settings-3">
                <i class="icon s-4 icon-tile-four"></i>
                <span>Dashboards</span>
              </a>
      
              <ul id="collapse-settings-3" class="collapse" role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">
               
                <li class="nav-item">
                  <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
      
                    <span>Project Dashboard</span>
                  </a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
                    <span>Server</span>
                  </a>
                </li>
      
              </ul>
            </li>
           <!-- End -->

      </ul>
    </div>
    <!-- / SIDENAV CONTENT -->
  </div>
</aside>