<div class="content">
    <div id="e-commerce-product" class="page-layout simple tabbed">

        <!-- HEADER -->
        <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-6">

            <div class="row no-gutters align-items-center">

                <a class="btn btn-icon mr-4" [routerLink]="['/dossiers']">
                    <i class="icon icon-arrow-left"></i>
                </a>

                <div class="product-image mr-4">
                    <img src="../assets/images/icon/folder1.png" height="52px" width="52px">
                </div>

                <div>Dossier détails</div>
            </div>

            <button type="submit" class="btn bg-secondary-50" form="formAuto" (click)="enregistrer()" [disabled]="!formDossier.valid"
            >
                Enregistrer
            </button>

        </div>
        <!-- / HEADER -->

        <!--
[disabled]="!formDossier.valid"

        -->

        <!--Content-->
        <div class="page-content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link btn active" id="basic-info-tab" data-toggle="tab" href="#basic-info-tab-pane" role="tab" aria-controls="basic-info-tab-pane"
                        aria-expanded="true">Informations du dossier </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" id="product-images-tab" data-toggle="tab" href="#product-images-tab-pane" role="tab" aria-controls="product-images-tab-pane">Contrat Auto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="contratSante" data-toggle="tab" href="#contrat-sante" role="tab" aria-controls="contrat-sante">Contrat Sante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="contratHabitation" data-toggle="tab" href="#contrat-habitation" role="tab" aria-controls="contrat-habitation">Contrat Habitation</a>
                </li>


            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="basic-info-tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">

                    <div ngClass="{{messageStyle}}" role="alert">
                        {{messageErrorText }}
                    </div>



                    <div class="card p-6">

                        <form *ngIf="formDossier" [formGroup]="formDossier">

                            <div class="form-group">
                                <label class="form-control-label" for="numDossier">Numéro de Dossier : </label>
                                <input type="text" class="form-control" aria-describedby="Dossier numero" formControlName="numero" />
                                <div *ngIf="this.formDossier.get('numero').hasError('pattern')" class="valid-feedback text-danger-900">
                                    veuillez saisir un nombre valide !
                                </div>
                                <div *ngIf="this.formDossier.get('numero').hasError('required')" class="valid-feedback text-primary-900">
                                    ce champ est obligatoire
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Date de création</label>
                                <input type="date" class="form-control" aria-describedby="date Dossier" formControlName="dateCreation" />
                                <div *ngIf="this.formDossier.get('dateCreation').hasError('required')" class="valid-feedback text-primary-A400">
                                    ce champ est obligatoire
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Statut</label>
                                <input type="text" class="form-control" aria-describedby="status Dossier" formControlName="status" />
                                <div *ngIf="this.formDossier.get('status').hasError('required')" class="valid-feedback text-primary-A400">
                                    ce champ est obligatoire
                                </div>
                            </div>

                            <div class="form-group">
                                <!-- <input type="text" class="form-control" id="clientsId" aria-describedby="CLIENT DOSSIER" formControlName="idClient" /> -->
                                <label class="form-control-label" for="clientsId">Client (Taper le Nom :) </label>
                                <ng2-completer formControlName="client" [minSearchLength]="0" [dataService]="searchData" inputClass="form-control" textNoResults="Client Non Trouvée !"
                                    [datasource]="searchData"></ng2-completer>
                                <div *ngIf="this.formDossier.get('client').hasError('required')" class="valid-feedback text-primary-A400">
                                    ce champ est obligatoire
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="product-images-tab-pane" role="tabpanel" aria-labelledby="product-images-tab">

                    <div ngClass="{{messageStyle}}" role="alert">
                        {{messageErrorText }}
                    </div>

                    <div class="card p-6">

                        <form [formGroup]="formAuto" id="formAuto">
                            <div class="row">
                                <div class="col-4">
                                    * Tous Les Champs Sont Obligatoire !
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label"> Date début </label>
                                        <input type="date" class="form-control" aria-describedby="width" formControlName="dateEffetPolice" />
                                    </div>

                                </div>
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label">Date fin </label>
                                        <input type="date" class="form-control" aria-describedby="width" formControlName="dateEchange" />
                                    </div>

                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Date 1ére mise en service: </label>
                                        <input type="date" class="form-control" aria-describedby="Vehicule 1ere Service" formControlName="datePremierMiseService"
                                        />

                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-4">

                                    <div class="form-group">
                                            <label class="form-control-label">Immatriculation</label>

                                        <input type="text" class="form-control" aria-describedby="width" formControlName="matriculation" />
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label">Marque</label>
                                        <ng2-completer formControlName="marque" [minSearchLength]="0" [dataService]="searchData" inputClass="form-control" textNoResults="Marque Non Trouvée !"
                                        [datasource]="searchMarqueAuto"></ng2-completer>
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label">Nombre de places</label>
                                        <input type="text" class="form-control" aria-describedby="depth" formControlName="nbrPlace" />
                                        <div *ngIf="this.formAuto.get('nbrPlace').hasError('pattern')" class="valid-feedback text-danger-900">
                                            veuillez saisir un nombre valide !
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" aria-describedby="Usage Vehicule" formControlName="usageVehicule" />
                                <label class="form-control-label">Usage</label>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Moteur</label>
                                        <select class="form-control" formControlName="typeMoteur">
                                            <option value="Essence">Essence</option>
                                            <option value="Diesel">Diesel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                            <label class="col-form-label"> Nombre de Chevaux</label>
                                        <input type="text" class="form-control" aria-describedby="Usage Vehicule" formControlName="nbrChevaux" />
                                        <div *ngIf="this.formAuto.get('nbrChevaux').hasError('pattern')" class="valid-feedback text-danger-900">
                                            veuillez saisir un nombre valide !
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                            <label class="col-form-label"> Montant</label>
                                      
                                        <input type="text" class="form-control" aria-describedby="montant" formControlName="montant" />
                                        <div *ngIf="this.formAuto.get('montant').hasError('pattern')" class="valid-feedback text-danger-900">
                                            veuillez saisir un montant valide !
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="form-group">
                                <label class="col-form-label"> Type Contrat</label>
                                <div class="form-check " *ngFor="let types of typesContratAuto " >
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [checked]="types.idTypeContratAuto==1" [disabled]="types.idTypeContratAuto==1" value="{{types.idTypeContratAuto}}" (change)="onCheckboxChange(types,$event)" />
                                        <span class="checkbox-icon"></span>
                                        <span class="form-check-description">{{types.type}}</span>
                                    </label>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="contrat-sante" role="tabpanel" aria-labelledby="contratSante">

                    <div ngClass="{{messageStyle}}" role="alert">
                        {{messageErrorText }}
                    </div>

                    <div class="card p-6">
                        <form *ngIf="formSante" [formGroup]="formSante">

                            <div class="form-group">
                                <label class="form-control-label" for="date">Date début de contrat: </label>

                                <input type="date" class="form-control" aria-describedby="Sante Date" formControlName="dateContrat" />
                                <div *ngIf="this.formSante.get('dateContrat').hasError('required')" class="valid-feedback text-primary-900">
                                    ce champ est obligatoire
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="status">Date fin de contrat : </label>
                                <input type="date" class="form-control" aria-describedby="DateFin Contrat Sante" formControlName="dateFinContrat" />
                                <div *ngIf="this.formSante.get('dateFinContrat').hasError('required')" class="valid-feedback text-primary-900">
                                    ce champ est obligatoire
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" aria-describedby="Montant Sante" formControlName="montant" />
                                <label class="form-control-label" for="montant">Montant : </label>

                                <div *ngIf="this.formSante.get('montant').hasError('required')" class="valid-feedback text-primary-900">
                                    ce champ est obligatoire
                                </div>
                                <div *ngIf="this.formSante.get('montant').hasError('pattern')" class="valid-feedback text-danger-900">
                                    le montant saisi est invalide !
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label"> Type Contrat</label>
                                <div class="form-check " *ngFor="let types of typesContratSante " >
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [checked]="types.idTypeContratSante==1" [disabled]="types.idTypeContratSante==1" value="{{types.idTypeContratSante}}" (change)="onCheckboxChange2(types,$event)" />
                                        <span class="checkbox-icon"></span>
                                        <span class="form-check-description">{{types.type}}</span>
                                    </label>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="contrat-habitation" role="tabpanel" aria-labelledby="contratHabitation">
                    <div ngClass="{{messageStyle}}" role="alert">
                        {{messageErrorText }}
                    </div>

                    <div class="card p-6">
                        <form *ngIf="formHabitation" [formGroup]="formHabitation">
                            <div class="row">
                                <div class="col-4">
                                    * Tous Les Champs Sont Obligatoire !
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label"> Date début de contrat : </label>
                                        <input type="date" class="form-control" aria-describedby="width" formControlName="dateDebut" />
                                    </div>

                                </div>
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label">Date fin de contrat</label>
                                        <input type="date" class="form-control" aria-describedby="width" formControlName="dateFin" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label"> Type Assuré : </label>
                                        <select class="form-control" formControlName="typeLogement">
                                            <option value="Essence">Maison</option>
                                            <option value="Diesel">Appartement</option>
                                        </select>                                    
                                    </div>

                                </div>
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label">Nombre de pieces</label>
                                        <input type="text" class="form-control" aria-describedby="width" formControlName="nbrPiece" />
                                        <div *ngIf="this.formHabitation.get('nbrPiece').hasError('pattern')" class="valid-feedback text-danger-900">
                                            le nombre saisi est invalide !
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label"> Adresse habitation  : </label>
                                        <input type="text" class="form-control" aria-describedby="width" formControlName="adresseHabitation" />                                  
                                    </div>

                                </div>
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label">Ville</label>
                                        <input type="text" class="form-control" aria-describedby="width" formControlName="ville" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="form-control-label"> Montant  : </label>
                                        <input type="text" class="form-control" aria-describedby="width" formControlName="montant" />                                  
                                        <div *ngIf="this.formHabitation.get('montant').hasError('pattern')" class="valid-feedback text-danger-900">
                                            le montant saisi est invalid !
                                        </div>
                                    </div>

                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label class="col-form-label"> Type Contrat</label>
                                <div class="form-check " *ngFor="let types of typesContratHabitation " >
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [checked]="types.idTypeContratHabitation==1" [disabled]="types.idTypeContratHabitation==1" value="{{types.idTypeContratHabitation}}" (change)="onCheckboxChange3(types,$event)" />
                                        <span class="checkbox-icon"></span>
                                        <span class="form-check-description">{{types.type}}</span>
                                    </label>
                                </div>


                            </div>
                        
                        
                        </form>
                    </div>
                
                </div>

                <!-- Terr-->
            </div>
        </div>
        <!--/CONTENT-->

    </div>
</div>