<div id="project-dashboard" class="page-layout simple right-sidebar tabbed">

    <div class="page-content-wrapper">

        <!-- HEADER -->
        <div class=" bg-secondary text-auto  p-4">
            <div>
                <span class="h2">Bonjour {{userdetails}}</span>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="page-content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" *ngIf="this.auth.isAdmin()!=2">
                    <a class="nav-link btn active fuse-ripple-ready" id="home-tab" data-toggle="tab" href="#home-tab-pane" role="tab" aria-controls="home-tab-pane"
                        aria-expanded="true">Dashboard</a>
                </li>

                <li class="nav-item" *ngIf="this.auth.isAdmin()!=2">
                    <a class="nav-link btn fuse-ripple-ready" id="budget-summary-tab" data-toggle="tab" href="#budget-summary-tab-pane" role="tab"
                        aria-controls="budget-summary-tab-pane">Evolution de budget</a>
                </li>
                <li class="nav-item" *ngIf="this.auth.isAdmin()==0">
                    <a class="nav-link btn fuse-ripple-ready" id="addClientTab" data-toggle="tab" href="#addClient" role="tab" aria-controls="budget-summary-tab-pane">Ajouter Un Utilisateur</a>
                </li>
                <li class="nav-item" *ngIf="this.auth.isAdmin()==2">
                    <a class="nav-link btn fuse-ripple-ready" id="team-members-tab" data-toggle="tab" href="#team-members-tab-pane" role="tab"
                        aria-controls="team-members-tab-pane" aria-expanded="true">Access Client</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group row" *ngIf="this.auth.isAdmin()!=2">

                        <!-- WIDGET 1 -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">

                            <div class="widget widget1 card">

                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">

                                    <div class="title text-secondary">{{contratStat[0]}}</div>

                                    <div class="sub-title h6 text-muted"> Clients En Total </div>

                                </div>


                            </div>
                        </div>
                        <!-- / WIDGET 1 -->

                        <!-- WIDGET 2 -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">

                            <div class="widget widget2 card">

                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">

                                    <div class="title text-danger">{{contratStat[1]}}</div>

                                    <div class="sub-title h6 text-muted"> Contrat Auto En Total </div>

                                </div>
                            </div>
                        </div>
                        <!-- / WIDGET 2 -->

                        <!-- WIDGET 3 -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">

                            <div class="widget widget3 card">

                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">

                                    <div class="title text-warning">{{contratStat[2]}}</div>

                                    <div class="sub-title h6 text-muted"> Contrat Habitation En Total </div>

                                </div>
                            </div>
                        </div>
                        <!-- / WIDGET 3 -->

                        <!-- WIDGET 4 -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">

                            <div class="widget widget4 card">

                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">

                                    <div class="title text-info">{{contratStat[3]}}</div>

                                    <div class="sub-title h6 text-muted"> Contrat Sante En Total </div>
                                </div>
                            </div>
                        </div>
                        <!-- / WIDGET 4 -->

                        <!-- WIDGET 5 -->
                        <div class="col-12 col-lg-6 p-3">

                            <div class="widget widget6 card">

                                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h6">Status Client :</span>
                                    </div>

                                </div>

                                <div class="widget-content">

                                    <div class="row no-gutters">

                                        <div class="col-12">
                                            <canvas id="myChart" height="40vh" width="80vw"></canvas>
                                        </div>
                                        <div class="divider col-12"></div>

                                        <div id="added-tasks" class="col-6 d-flex flex-column align-items-center justify-content-center py-4">

                                            <div class="count h2">{{this.clientActive}}</div>

                                            <div class="count-title">Client Active </div>

                                        </div>


                                        <div id="added-tasks" class="col-6 d-flex flex-column align-items-center justify-content-center py-4">

                                            <div class="count h2">{{this.clientPotentiel}}</div>

                                            <div class="count-title">Client Potentiel </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- / WIDGET 5 -->

                        <!-- WIDGET 6 -->
                        <div class="col-12 col-lg-6 p-3">

                            <div class="widget widget6 card">

                                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h6">Evolutions Des Contrats :</span>
                                    </div>

                                    <div class="">
                                        <select id="widget6-option-select" class="h6 custom-select" (change)="onChange($event.target.value)">
                                            <option selected value="2018">2018</option>
                                            <option value="2017">2017</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="widget-content">

                                    <div class="row no-gutters">

                                        <canvas id="contratEvolution" height="40vh" width="80vw"></canvas>


                                        <div class="divider col-12"></div>

                                        <div id="added-tasks" class="col-12 d-flex flex-column align-items-center justify-content-center py-4">

                                            <div class="count h2">{{total}}</div>

                                            <div class="count-title">Total Contrat </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / WIDGET 6 -->


                    </div>
                    <!-- / WIDGET GROUP -->
                </div>
                <div class="tab-pane fade" id="budget-summary-tab-pane" role="tabpanel" aria-labelledby="budget-summary-tab" *ngIf="this.auth.isAdmin()!=2">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group row">

                        <!-- WIDGET 8 -->
                        <div class="col-12 col-lg-12 p-3">

                            <div class="widget widget8 card">

                                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                                    <div class="col">
                                        <span class="h6">Budget Par Type De Contrat</span>
                                    </div>
                                    <div class="">
                                        <select id="widget6-option-select" class="h6 custom-select" (change)="onChange2($event.target.value)">
                                            <option selected value="2018">2018</option>
                                            <option value="2017">2017</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="widget-content row">

                                    <div class="col-12">
                                        <canvas id="budjetContratAuto" height="30vh" width="70vw"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="divider col-12"></div>

                            <div class="widget widget8 card">

                                <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
                                    <div class="col">
                                        <span class="h6">Budget En Géneral</span>
                                    </div>
                                </div>

                                <div class="widget-content row">

                                    <div class="col-12">
                                        <canvas id="budjetGeneral" height="30vh" width="60vw"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- / WIDGET 8 -->

                        <!-- WIDGET 9 -->
                        <div class="col-12 col-lg-6 p-3">

                            <div class="widget widget9 card">

                                <!--                                        -->
                            </div>
                        </div>
                        <!-- / WIDGET 9 -->

                        <!-- WIDGET 10 -->
                        <div class="col-12 p-3">

                            <!-- 
                                  -->
                        </div>
                        <!-- / WIDGET 10 -->
                    </div>
                    <!-- / WIDGET GROUP -->
                </div>
                <div class="tab-pane fade show active" *ngIf="this.auth.isAdmin()==2" id="team-members-tab-pane" role="tabpanel" aria-labelledby="team-members-tab">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group row">

                        <!-- WIDGET 1 -->
                        <div class="col-12">

                            <div class="card">

                                <div class="widget-header px-4 py-6 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h5">Mes Info : </span>
                                    </div>

                                </div>

                                <div class="divider"></div>

                                <div class="widget-content">
                                    <table class="table table-hover" *ngIf="detailsClient">
                                        <tbody>
                                            <tr>
                                                <th>Nom Complet </th>
                                                <td>{{detailsClient.nom}}&nbsp;{{detailsClient.prenom}}</td>
                                            </tr>
                                            <tr>
                                                <th>Date Naissance</th>
                                                <td>{{detailsClient.dateNaissance}}</td>
                                            </tr>
                                            <tr>
                                                <th>N° Telephone</th>
                                                <td>{{detailsClient.numTel}}</td>
                                            </tr>
                                            <tr>
                                                <th>Adresse</th>
                                                <td>{{detailsClient.adresse}}&nbsp;{{detailsClient.ville}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{detailsClient.email}}</td>
                                            </tr>
                                            <tr>
                                                <th>Profession</th>
                                                <td>{{detailsClient.profession}}</td>
                                            </tr>
                                            <tr>
                                                <th>Cin</th>
                                                <td>{{detailsClient.cin}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="widget-header px-4 py-6 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h5">Mes Contrats Auto: </span>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>Num Contrat </th>
                                                <th>Date Debut</th>
                                                <th>Date Fin</th>
                                                <th>Montant</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let c of autoContrat ">
                                            <tr>
                                                <th>{{c.idAuto}}</th>
                                                <th>{{c.dateEffetPolice}}</th>
                                                <th>{{c.dateEchange}}</th>
                                                <th>{{c.montant}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="divider"></div>
                                <div class="widget-header px-4 py-6 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h5">Mes Contrats Sante: </span>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>Num Contrat </th>
                                                <th>Date Debut</th>
                                                <th>Date Fin</th>
                                                <th>Montant</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let c of santeContrat ">
                                            <tr>
                                                <th>{{c.numContratSante}}</th>
                                                <th>{{c.dateContrat}}</th>
                                                <th>{{c.dateFinContrat}}</th>
                                                <th>{{c.montant}}</th>
                                            </tr>
                                        </tbody>
                                    </table>




                                </div>

                                <div class="widget-header px-4 py-6 row no-gutters align-items-center justify-content-between">

                                    <div class="col">
                                        <span class="h5">Mes Contrats Habitation: </span>
                                    </div>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Num Contrat </th>
                                                <th>Date Debut</th>
                                                <th>Date Fin</th>
                                                <th>Type Logement</th>
                                                <th>Nbr Piece</th>
                                                <th>Montant</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let c of habitationContrat ">
                                            <tr>
                                                <th>{{c.idContratHabitation}}</th>
                                                <th>{{c.dateDebut}}</th>
                                                <th>{{c.dateFin}}</th>
                                                <th>{{c.typeLogement}}</th>
                                                <th>{{c.nbrPiece}}</th>
                                                <th>{{c.montant}}</th>
                                            </tr>
                                        </tbody>
                                    </table>




                                </div>

                            </div>
                        </div>
                        <!-- WIDGET 1 -->
                    </div>
                </div>
                <div class="tab-pane fade" id="addClient" role="tabpanel" aria-labelledby="team-members-tab">

                    <!-- WIDGET GROUP -->
                    <div class="widget-group row">

                        <!-- WIDGET 1 -->
                        <div class="col-12">

                            <div class="card">

                                <div class="widget-header px-4 py-6 row no-gutters align-items-center justify-content-between">
                                    <div class="col">
                                        <span class="h5">Associer un utilisateur à un client ! </span>
                                    </div>
                                </div>
                                <div class="divider"></div>

                                <div class="widget-content">
                                    <div class="card p-6">

                                        <form *ngIf="form" [formGroup]="form">

                                            <div class="form-group">
                                                <input type="text" class="form-control" aria-describedby="product name" formControlName="username" />
                                                <label class="form-control-label" for="adresseClient">Identifiant : </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" aria-describedby="product tags" formControlName="password" />
                                                <label class="form-control-label">Mot de pass</label>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="adresseClient">Client : </label>
                                                <ng2-completer formControlName="client" [minSearchLength]="0" [dataService]="searchData" inputClass="form-control" textNoResults="Client Non Trouvée !"
                                                    [datasource]="searchData"></ng2-completer>
                                            </div>

                                            <div class="form-group mx-auto text-center">
                                                <button type="submit" class="btn btn-succes" (click)="enregistrerUtilisateur()">Enregistrer</button>
                                            </div>
                                            <div ngClass="{{messageStyle}}" role="alert">
                                                {{messageErrorText }}
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- WIDGET 1 -->
                    </div>
                </div>
            </div>

        </div>
        <!-- / CONTENT -->

    </div>


</div>