<div id="supprimerDosssier" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="supprimerDosssier" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supprimerDosssier">Suppression du Dossier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>voulez vous supprimer ce Dossier de façon permanente ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="supprimerDossier(idClient)" >Supprimer</button>
            </div>
        </div>
    </div>
</div>