   <div class="aside-content-wrapper" *ngIf="router.url != '/login'">
  
      <div class="aside-content bg-primary-500 text-auto">
  
        <div class="aside-toolbar">
  
          <div class="logo">
            <span class="logo-icon">AS</span>
            <span class="logo-text">Assurance</span>
          </div>
  
          <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
            <i class="icon icon-backburger"></i>
          </button>
  
        </div>
  
        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">
          <li class="subheader">
            <span>APPS</span>
          </li>

          <li class="nav-item">
            <a class="nav-link ripple "  [routerLink]="['accueil']" data-page-url="/apps-contacts.html">
              <i class="icon s-4 icon-tile-four"></i>
              <span>Accueil</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="this.auth.isAdmin()!=2">
            <a class="nav-link ripple "  [routerLink]="['client']" data-page-url="/apps-contacts.html">
              <i class="icon s-4 icon-calendar-today"></i>
              <span>Client</span>
            </a>
          </li>

      
          
           
          <li class="nav-item" role="tab" id="heading-ecommerce" *ngIf="this.auth.isAdmin()!=2">

              <a class="nav-link ripple with-arrow collapsed"
                 
                data-toggle="collapse"
                 data-target="#collapse-ecommerce"
                 aria-expanded="false"
                 href=""
                 aria-controls="collapse-ecommerce">
                 <i class="icon s-4 icon-folder"></i>
                 <span>Dossier</span>
              </a>
          
              <ul id="collapse-ecommerce"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="heading-ecommerce"
                  data-children=".nav-item" >
                  
                      
                  <li class="nav-item">
                      <a class="nav-link ripple " href="#"
                      [routerLink]="['dossiers']"
                      >
                          
                          <span>Tous Les Dossiers</span>
                      </a>
                  </li>
          <li class="nav-item">
              <a class="nav-link ripple " 
                 [routerLink]="['dossiers/ajouter']"
                >
                  
                  <span>Ajouter Dossier</span>
              </a>
          </li>
          </ul>
          </li>
          




        </ul>

      </div>
    </div>
    
  <!-- End Aside  -->