<!-- Debut Aside -->
   <div class="aside-content-wrapper">
  
      <div class="aside-content bg-primary-500 text-auto">
  
        <div class="aside-toolbar">
  
          <div class="logo">
            <span class="logo-icon">FS</span>
            <span class="logo-text">S-Fidelite</span>
          </div>
  
          <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
            <i class="icon icon-backburger"></i>
          </button>
  
        </div>
  
        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">
          <li class="subheader">
            <span>APPS</span>
          </li>

          <li class="nav-item" role="tab" id="heading-dashboards">

            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-dashboards" href="#" aria-expanded="false"
              aria-controls="collapse-dashboards">
              <i class="icon s-4 icon-tile-four"></i>
              <span>Dashboards</span>
            </a>

            <ul id="collapse-dashboards" class="collapse" role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">
             
              <li class="nav-item">
                <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
  
                  <span>Project Dashboard</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
                  <span>Server</span>
                </a>
              </li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link ripple " href="#" data-page-url="/apps-contacts.html">
              <i class="icon s-4 icon-calendar-today"></i>
              <span>Calendar</span>
            </a>
          </li>

        </ul>

      </div>
    </div>
  
  <!-- End Aside  -->