<div id="clientDetailAffiche" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="clientDetailAffiche"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientDetailAffiche">Détails Client :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
               
              <table class="table table-hover" *ngIf="detailsClient">
                    <tr>
                        <th>Nom Complet </th>
                        <td>{{detailsClient.nom}}&nbsp;{{detailsClient.prenom}}</td>
                    </tr>
                    <tr>
                        <th>Date Naissance</th>
                        <td>{{detailsClient.dateNaissance}}</td>
                    </tr>
                    <tr>
                        <th>N° Telephone</th>
                        <td>{{detailsClient.numTel}}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{detailsClient.adresse}}&nbsp;{{detailsClient.ville}}</td>
                    </tr>
                    <tr>    
                        <th>Email</th>
                        <td>{{detailsClient.email}}</td>
                    </tr>
                    <tr>  
                        <th>Profession</th>
                        <td>{{detailsClient.profession}}</td>
                    </tr>
                    <tr>
                        <th>Cin</th>
                        <td>{{detailsClient.cin}}</td>
                    </tr>
            </table>
            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

