
<div class="content">
    

<!-- <div class="page-header bg-secondary text-auto p-6"> -->

    <!-- <h2 class="doc-title" id="content"> Gestion Des Clients align-items-center : row no-gutters  align-items-middle justify-content-between </h2> -->
    <div class="header bg-secondary text-auto p-6 row">

            <!-- APP TITLE -->
            <div class="col-12 col-sm">

                <div class="logo row no-gutters align-items-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Gestion Des Clients :</div>
                        <div class="">Total Clients: 20</div>
                    </div>
                </div>

            </div>
            <!-- / APP TITLE -->


            <div class="col-auto align-self-center">
                <a href="client/ajouter" class="btn bg-secondary-50 ">Ajouter Un Client</a>
            </div>

        </div>
<!-- </div> -->
<div class="doc data-table-doc page-layout simple full-width">

<div class="page-content row p-6 container">

        <div class="col-12">

            <div class="example">
                <div class="description">
                    <div class="description-text">
                        <h3 class="align-items-center">List Clients :  </h3>
                    </div>
                </div>
                <div class="source-preview-wrapper">
                    <div class="preview">
                        <div class="preview-elements">
                    <table id="sample-data-table" class="table">
                        <thead>
                                                <tr>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Nom</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Prenom</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                            <div class="table-header">
                                                                <span class="column-title">CIN</span>
                                                            </div>
                                                        </th>
                                                        <th class="secondary-text">
                                                                <div class="table-header">
                                                                    <span class="column-title">Date De Naissance</span>
                                                                </div>
                                                            </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Adresse</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Ville</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">N° Télephone</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Profession</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Email</span>
                                                        </div>
                                                    </th>
                                                    <th class="secondary-text">
                                                        <div class="table-header">
                                                            <span class="column-title">Action</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                            <tbody>
                            <tr *ngFor='let c of clients'>
                                                    <td>{{c.nom}}</td>
                                                    <td>{{c.prenom}}</td>
                                                    <td>{{c.cin}}</td>
                                                    <td>{{c.dateNaissance}}</td>
                                                    <td>{{c.adresse}}</td>
                                                    <td>{{c.ville}}</td>
                                                    <td>{{c.numTel}}</td>
                                                    <td>{{c.profession}}</td>
                                                    <td>{{c.email}}</td>
                                                    <td>
                                                        <button  class="icon-account-edit" data-toggle="modal" data-target="#modifierClient" (click)="affecatationClient(c)"></button>
                                                        <button  class="icon-account-off" data-toggle="modal" data-target="#exampleModalLive" (click)="affecatationIdClient(c.idClient)"></button>
                                                    </td>
                            </tr>
                            </tbody>
                    </table>

                <script type="text/javascript">
                    $('#sample-data-table').DataTable({
                        responsive: true
                    });
                </script>
                    </div>
                
                </div>
              </div>

            </div>
        </div>
    </div>
</div>
</div>
<app-supprimer [idClient]="idCourant"></app-supprimer>
<app-modifier *ngIf="cl" [client]="cl"></app-modifier>