

        <!-- CONTACT LIST HEADER -->
        <div class="contacts-list-header p-4">
    
            <div class="row no-gutters align-items-center justify-content-between">
    
                <div class="list-title text-muted">
                    <app-form-phase></app-form-phase>
                </div>
    
                <!--button type="button" class="btn btn-icon fuse-ripple-ready">
                    <i class="icon icon-sort-alphabetical"></i>
                </button-->
            </div>
    
        </div>
        <!-- / CONTACT LIST HEADER -->
    
        
    
            <!-- CONTACT ITEM -->
            <div class="contact-item ripple row no-gutters align-items-center py-2 px-3 py-sm-4 px-sm-6 fuse-ripple-ready">
    
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator fuse-ripple-ready"></span>
                </label>
    
                <img class="avatar mx-4" alt="Abbott" src="../assets/images/avatars/Abbott.jpg">
    
                <div class="col text-truncate font-weight-bold">Abbott Keitch</div>
    
    
                <div class="col email text-truncate px-1 d-none d-xl-flex">
                    abbott@withinpixels.com
                </div>
    
                <div class="col phone text-truncate px-1 d-none d-xl-flex">
                    +1-202-555-0175
                </div>
    
                <div class="col job-title text-truncate px-1 d-none d-sm-flex">
                    Digital Archivist
                </div>
    
                <div class="col company text-truncate px-1 d-none d-sm-flex">
                    Saois
                </div>
    
                <div class="col-auto actions">
    
                    <div class="row no-gutters">
    
                        <button type="button" class="btn btn-icon fuse-ripple-ready">
    
                        
                            
                                <i class="icon-star-outline"></i>
                            
                        </button>
    
                        <button type="button" class="btn btn-icon fuse-ripple-ready">
                            <i class="icon icon-dots-vertical"></i>
                        </button>
                    </div>
                </div>
                
            </div>
            <!-- CONTACT ITEM -->


                